<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cubepayment.a8device" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="titan.extperm.SETTING_GET"/>
    <uses-permission android:name="titan.extperm.SETTING_SET"/>
    <uses-permission android:name="titan.extperm.CERTIFICATE_SET"/>
    <uses-permission android:name="titan.extperm.STORAGE_GET"/>
    <uses-permission android:name="titan.extperm.USB_SET"/>
    <uses-permission android:name="titan.extperm.USB_GET"/>
    <uses-permission android:name="titan.extperm.PROCESS_SET"/>
    <uses-permission android:name="titan.extperm.TELEPHONY_GET"/>
    <uses-permission android:name="titan.extperm.TELEPHONY_SET"/>
</manifest>

